@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SJ Sans';
  src: url('/sj-sans-otf/sj-sans-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SJ Sans';
  src: url('/sj-sans-otf/sj-sans-regular-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SJ Sans';
  src: url('/sj-sans-otf/sj-sans-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SJ Sans';
  src: url('/sj-sans-otf/sj-sans-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html {
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: none;
}

@layer utilities {
  .touch-manipulation {
    touch-action: manipulation;
  }
}

.leaflet-container {
  touch-action: none; /* Let Leaflet handle all touch events */
}

.leaflet-control-zoom a,
.leaflet-control a {
  touch-action: manipulation;
}

